@model List<SistemaMVC_Calapuja.Models.Docente>
@{
    ViewBag.Title = "Index";
}

<h2 class="card" text-center>Gestion de Docente</h2>
<br />
<div class="text-right">
    <a href="~/Docente/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo registro
    </a>
</div>
<br />


<table class="table">
    <thead>
        <tr>
            <th style="width:50px">ID  </th>
            <th style="width:100px">docente_codigo  </th>
            <th style="width:70px">dni  </th>
            <th style="width:80px">apellido  </th>
            <th style="width:200px">nombre  </th>
            <th style="width:50px">sexo  </th>
            <th style="width:100px">email  </th>
            <th style="width:80px">celular  </th>
            <th style="width:200px">cargo  </th>
            <th style="width:80px">condicion  </th>
            <th style="width:200px">categoria  </th>
            <th style="width:80px">foto  </th>
            <th style="width:200px">estado  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@(s.docente_id)</th>
                <th>@(s.docente_codigo)</th>
                <th>@(s.dni)</th>
                <th>@(s.apellido)</th>
                <th>@(s.nombre)</th>
                <th>@(s.sexo)</th>
                <th>@(s.email)</th>
                <th>@(s.celular)</th>
                <th>@(s.cargo)</th>
                <th>@(s.condicion)</th>
                <th>@(s.categoria)</th>
                <th>@(s.foto)</th>
                <th>@(s.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="align-content:center">
                    <a href="~/Docente/Visualizar/@s.docente_id" class="btn btn-xs btn-warning">Visualizar</a>
                    <a href="~/Docente/AgregarEditar/@s.docente_id" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Docente/Eliminar/@s.docente_id" class="btn btn-xs btn-danger" onclick="return confirm('¿Esta Seguro de Eliminar.........?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
