@model SistemaMVC_Calapuja.Models.Docente
@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Docente/Index">Docente</a>
        </li>
        <li class="breadcrumb-item" active>@Model.nombre</li>

    </ol>

</nav>
<div class="card">
    <div class="card-header">
        Informacion detallada del docente

    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.docente_id</dd>

            <dt>docente_codigo</dt>
            <dd>@Model.docente_codigo</dd>

            <dt>dni</dt>
            <dd>@Model.dni</dd>

            <dt>apellido</dt>
            <dd>@Model.apellido</dd>

            <dt>nombre</dt>
            <dd>@Model.nombre</dd>

            <dt>sexo</dt>
            <dd>@Model.sexo</dd>

            <dt>email</dt>
            <dd>@Model.email</dd>


            <dt>celular</dt>
            <dd>@Model.celular</dd>

            <dt>cargo</dt>
            <dd>@Model.cargo</dd>

            <dt>condicion</dt>
            <dd>@Model.condicion</dd>

            <dt>categoria</dt>
            <dd>@Model.categoria</dd>

            <dt>foto</dt>
            <dd><img src="@Model.foto" /></dd>

            
            <dt>Estado</dt>
            <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>

        </dl>
    </div>
</div>
